<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&family=Playfair+Display:ital,wght@1,400;1,500&family=Poppins:wght@100;200;400;500;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Restaurant Website</title>
</head>
<body>
    <div class="Container">
        <nav>
            <div class="logo">
                 <img src="https://images-platform.99static.com/Z7PCJ6Wd8VPhzWrQOGubNu4bSqY=/0x0:1350x1350/fit-in/900x675/99designs-contests-attachments/71/71608/attachment_71608184" width="200px" height="150px">
            </div>
            <div class="links">
               <ul>
                  <li><a href="/signup">Sign Up</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/menu">Order Online</a></li>
                  <li><a href="/signup">Menu</a></li>
               </ul>
            </div>
        </nav>
        <main>
            <div class="cover">
               <img src="https://th.bing.com/th/id/R.e38e48e16fb7a52427cd07b261ef71f7?rik=77ehrv9wIaQoCg&pid=ImgRaw&r=0" width="100%" height="420px" style="object-fit: cover ;">
            </div>
            <div class="firstInfo">
               <div class="leftImage">
                  <img src="https://th.bing.com/th/id/OIP.qMLbkCMyQ6zKrPYEOhx7EAHaFW?pid=ImgDet&w=879&h=635&rs=1" width="100%" height="280px">
               </div>
               <div class="text">
                <h2>Vegan Quizines</h2>
                <p>In addition to being a worldclass restaurant, we offer meals for everyone. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eaque quis repellat tempora asperiores rerum repellendus ipsam similique veniam officiis, placeat dolorum recusandae id quae ea eos aut. Expedita, rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cum velit officiis ullam perspiciatis laboriosam quisquam dicta nesciunt sequi ad ipsa cumque odio voluptatibus mollitia autem eum accusantium, quaerat sed.</p>
               </div>
               <div class="rightImage">
                   <img src="https://www.pngarts.com/files/2/Salad-PNG-Image-with-Transparent-Background.png"  width="100%" height="280px">
               </div>
            </div>
            <div class="secondInfo">
                <div class="data">
                    <h2>Unbelievably Delicious Sandwiches</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni provident eos expedita veritatis accusamus voluptatum assumenda quasi quas necessitatibus voluptas omnis itaque commodi illo unde quo ut, earum ratione aut. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti quisquam enim quaerat repellat laborum ad mollitia repudiandae ex sunt suscipit quas officia, amet voluptatibus corporis, dolores sapiente! Quos, odit temporibus.</p>
                </div>
                <div class="midImage">
                    <img src="https://cdn.website.thryv.com/75667e77c15a46dda0f90a10b5e08e08/dms3rep/multi/485832308.jpg"  width="100%" height="280px">
                </div>
                <div class="data">
                    <h2>Worldwide Recognition</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit excepturi animi molestias quo, deleniti, tempore similique esse earum repudiandae dolorum mollitia! Qui, magnam. Animi sequi quidem esse quis enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quod minus corporis deleniti reprehenderit, odit similique eum a, repellendus, veritatis aliquam quis? Laboriosam debitis illo tenetur voluptas? Sed, provident quibusdam.</p>
                </div>
            </div>
            <div class="firstInfo">
                <div class="leftImage">
                   <img src="https://th.bing.com/th/id/R.e8c2412b6e4b4544edb5601cd1c59ad8?rik=9GYLAMMCFd2FlQ&riu=http%3a%2f%2fpngimg.com%2fuploads%2fbarbecue%2fbarbecue_PNG3.png&ehk=rTTU7dBP%2bVBh0RrmJRVa%2bjoEpQB9naeB7Dm5BWGajNo%3d&risl=&pid=ImgRaw&r=0" width="100%" height="280px">
                </div>
                <div class="text">
                 <h2>Popular Chicken Meals</h2>
                 <p>In addition to being a worldclass restaurant, we offer meals for everyone. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eaque quis repellat tempora asperiores rerum repellendus ipsam similique veniam officiis, placeat dolorum recusandae id quae ea eos aut. Expedita, rerum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cum velit officiis ullam perspiciatis laboriosam quisquam dicta nesciunt sequi ad ipsa cumque odio voluptatibus mollitia autem eum accusantium, quaerat sed.</p>
                </div>
                <div class="rightImage">
                    <img src="https://th.bing.com/th/id/R.032c5a2fd7067b6ca1636117671634fc?rik=qS2u9H%2fuxQAqHA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2ffry-food-png-chicken-strip-basket-940.png&ehk=54NSSH%2fgOvpiSadpRxiDjXE7eMBlFEYFgJj6tAMGP5k%3d&risl=&pid=ImgRaw&r=0"  width="100%" height="280px">
                </div>
           </div>
           <div class="secondSection">
             <div class="title">
                <h1>LOCATION</h1>
             </div>
              <div class="cover">
                 <img src="https://th.bing.com/th/id/R.269dd27cfe5c78b54fd142ea9b4ecf10?rik=O69cNy5T3vx6Cg&riu=http%3a%2f%2fwww.wallpapersin4k.org%2fwp-content%2fuploads%2f2017%2f04%2fRestaurant-HD-Wallpaper-14.jpg&ehk=HuyZWkmBeF54c%2fByV0ca06E9gLDvcwqsDmBbB%2beT3Os%3d&risl=&pid=ImgRaw&r=0" width="100%" height="420px" style="object-fit: cover ;">
              </div>
              <div class="addressSection">
                  <div class="addressImage">
                     <img src="https://th.bing.com/th/id/R.149a6396355e81f70be4e81b7c9d7784?rik=U1P2E8ta7iAksg&riu=http%3a%2f%2frestaurantnewsrelease.com%2fwp-content%2fuploads%2f2020%2f10%2fWendys-Rolls-Out-Instant-Classic-with-Latest-Chicken-Sandwich.jpg&ehk=%2fIjCmASlY%2f2txgFzGr3d2bbF0OoRU1yEam%2fApI4j1DU%3d&risl=&pid=ImgRaw&r=0" width="100%" height="370px" style="object-fit: cover;">
                  </div>
                  <div class="addressInfo">
                     <div class="address">
                        <hr>
                        <h1>ADDRESS</h1>
                        <hr>
                        <h3>500 TERRY FRANCOIS STREET </h3><br>
                        <h3>SAN FRANCISCO, CA 94158</h3><br>
                        <h3>UNITED STATES OF AMERICA</h3><br>
                        <hr>
                        <h1>OPENING HOURS</h1>
                        <hr>
                        <h3>MON - FRI: 12PM - 10PM</h3><br>
                        <h3>SATURDAY: 12PM - 12AM</h3><br>
                        <h3>SUNDAY: 12PM - 11PM</h3><br>
                     </div>
                  </div>
              </div>
              <div class="contactSection">
                <div class="contact">
                    <hr>
                    <h1>CONTACT FOR RESERVATIONS</h1>
                    <hr>
                    <h3>356-789-1456</h3><br>
                    <h3>278-980-3470</h3><br>
                    <h3>346-127-4211</h3><br><br>
                    <button><a href="">ORDER NOW</a></button>
                </div>
                <div class="contactImage">
                   <img src="https://th.bing.com/th/id/R.ae073d4796bd137c0b20991972a24fce?rik=m9C2JKk8quA5EA&pid=ImgRaw&r=0" width="100%" height="370px" style="object-fit: cover;">
                </div>
              </div>
           </div>
        </main>
    </div>
</body>
</html>