<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&family=Libre+Baskerville&family=Lobster&family=Playfair+Display:ital,wght@1,400;1,500&family=Poppins:wght@100;200;400;500;800;900&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="menu.css">
    <title>Menu</title>
</head>
<body>
    <main>
        <div class="mainMenuContainer">
          <section class="burgers">
            <div class="menuCardWrapper">
                <div class="menuCard">
                    <div class="overlay">
                        <div class="addToCart"><button>Add To Cart</button></div>
                    </div>
                     <img src="https://th.bing.com/th/id/R.df9eb40a632f2d697b2d1d5648edbc02?rik=XNbbHh2RdEp5ow&pid=ImgRaw&r=0" width="300px" height="240px" style="object-fit:cover ;">
                     <h3 class="itemName" title="item Name">Chicken Burger</h3>
                     <h4 class="category" title="Category">Sandwich</h4>
                     <hr><hr>
                     <h2 class="price" title="Price">$20.00 <span class="currencyType" style="color: red;">USD</span></h2>
                </div>
             </div>
             <div class="menuCardWrapper">
                 <div class="menuCard">
                    <div class="overlay">
                        <div class="addToCart"><button><a href="">Add To Cart</a></button></div>
                    </div>
                    <img src="https://th.bing.com/th/id/R.3a2560bd84c22c2ce39c06eaf2910097?rik=IGpbs9zHDu1bPg&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2ftransparent-cheeseburger%2ftransparent-cheeseburger-17.png&ehk=hD4%2bzIARSTMcMqODnJ9FzPxKy7vcRbDZa2fAAiZKvKI%3d&risl=&pid=ImgRaw&r=0" width="300px" height="240px" style="object-fit:cover ;">
                    <h3 class="itemName" title="item Name">Beef Burger</h3>
                    <h4 class="category" title="Category">Sandwich</h4>
                    <hr><hr>
                    <h2 class="price" title="Price">$25.00 <span class="currencyType" style="color: red;">USD</span></h2>
                 </div>
              </div>
              <div class="menuCardWrapper">
                <div class="menuCard">
                    <div class="overlay">
                        <div class="addToCart"><button><a href="">Add To Cart</a></button></div>
                    </div>
                    <img src="https://th.bing.com/th/id/R.abb18eea3fe18e97c4d5e3e7aae91e23?rik=tBSEFq%2bJL4SpBA&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f1%2fSriracha-Burger-PNG.png&ehk=BpRIEYS1vZEAucgNUZikm1bgAR79j0so8B932NjFC4I%3d&risl=&pid=ImgRaw&r=0" width="300px" height="240px" style="object-fit:cover ;">
                    <h3 class="itemName" title="item Name">Hamburger</h3>
                    <h4 class="category" title="Category">Sandwich</h4>
                    <hr><hr>
                    <h2 class="price" title="Price">$23.00 <span class="currencyType" style="color: red;">USD</span></h2>
                </div>
             </div>
          </section>
          <section class="veganMeals">
            <div class="menuCardWrapper">
                <div class="menuCard">
                    <div class="overlay">
                        <div class="addToCart"><button><a href="">Add To Cart</a></button></div>
                    </div>
                    <img src="https://freepngimg.com/thumb/salad/1-2-salad-png-picture.png" width="295px" height="240px" style="object-fit:cover ;">
                    <h3 class="itemName" title="item Name">Twisted Cheese Salad</h3>
                    <h4 class="category" title="Category">Vegan Salad</h4>
                    <hr><hr>
                    <h2 class="price" title="Price">$30.00 <span class="currencyType" style="color: red;">USD</span></h2>
                </div>
             </div>
             <div class="menuCardWrapper">
                <div class="menuCard">
                    <div class="overlay">
                        <div class="addToCart"><button><a href="">Add To Cart</a></button></div>
                    </div>
                    <img src="https://clipartstation.com/wp-content/uploads/2018/10/potato-salad-clipart-1.png" width="295px" height="240px" style="object-fit:cover ;">
                    <h3 class="itemName" title="item Name">Potato Salad</h3>
                    <h4 class="category" title="Category">Vegan Salad</h4>
                    <hr><hr>
                    <h2 class="price" title="Price">$27.00 <span class="currencyType" style="color: red;">USD</span></h2>
                </div>
             </div>
             <div class="menuCardWrapper">
                <div class="menuCard">
                    <div class="overlay">
                        <div class="addToCart"><button><a href="">Add To Cart</a></button></div>
                    </div>
                    <img src="https://th.bing.com/th/id/R.fc269aeb87aa53a029559fc9ddc82e24?rik=IDz7OudHhhYWqQ&riu=http%3a%2f%2fwww.tocumboicecream.com%2fassets%2fimages%2fcesar+salad+2.png&ehk=l78a3DwET2lhEX9E%2fWQKHkWIyx2NcwMTZB9zbtuqGpY%3d&risl=&pid=ImgRaw&r=0" width="295px" height="240px" style="object-fit:cover ;">
                    <h3 class="itemName" title="item Name">Italian Salad</h3>
                    <h4 class="category" title="Category">Vegan Salad</h4>
                    <hr><hr>
                    <h2 class="price" title="Price">$30.00 <span class="currencyType" style="color: red;">USD</span></h2>
                </div>
             </div>
          </section>
          <section class="veganMeals">
            <div class="menuCardWrapper">
                <div class="menuCard">
                    <div class="overlay">
                        <div class="addToCart"><button><a href="">Add To Cart</a></button></div>
                    </div>
                    <img src="https://th.bing.com/th/id/OIP.QZFHDmiinw6pe2jKZaB2ZgHaFj?pid=ImgDet&rs=1" width="295px" height="240px" style="object-fit:cover ;">
                    <h3 class="itemName" title="item Name">Shrimp Boil</h3>
                    <h4 class="category" title="Category">Seafood</h4>
                    <hr><hr>
                    <h2 class="price" title="Price">$35.00 <span class="currencyType" style="color: red;">USD</span></h2>
                </div>
             </div>
             <div class="menuCardWrapper">
                <div class="menuCard">
                    <div class="overlay">
                        <div class="addToCart"><button><a href="">Add To Cart</a></button></div>
                    </div>
                    <img src="https://webstockreview.net/images/seafood-clipart-shrimp-scampi-13.png" width="295px" height="240px" style="object-fit:cover ;">
                    <h3 class="itemName" title="item Name">Lobster Thermidor</h3>
                    <h4 class="category" title="Category">Seafood</h4>
                    <hr><hr>
                    <h2 class="price" title="Price">$40.00 <span class="currencyType" style="color: red;">USD</span></h2>
                </div>
             </div>
             <div class="menuCardWrapper">
                <div class="menuCard">
                    <div class="overlay">
                        <div class="addToCart"><button><a href="">Add To Cart</a></button></div>
                    </div>
                    <img src="https://1.bp.blogspot.com/-yUAQ_LB2KnI/X_kicob_VpI/AAAAAAAAD8s/v3hqoOpFZbg2usFCUTmhnjYi3AdWthCEACLcBGAsYHQ/w1200-h630-p-k-no-nu/PNGKH_00000388.png" width="295px" height="240px" style="object-fit:cover ;">
                    <h3 class="itemName" title="item Name">Fried Fish</h3>
                    <h4 class="category" title="Category">Seafood</h4>
                    <hr><hr>
                    <h2 class="price" title="Price">$26.00 <span class="currencyType" style="color: red;">USD</span></h2>
                </div>
             </div>
          </section>
        </div>
    </main>
    <script>
      var addToCartButton = document.getElementsByClassName('addToCartLink');
      for(var i = 0; i < addToCartButton.length; i++ ){
        var button =addToCartButton[i]
        button.addEventListener('click', addToCartClicked)
      }

      function addToCartClicked(event){
        var button = event.target
        var shopItem = button.parentElement.parentElement
        var itemName = shopItem.getElementsByClassName('itemName')[0].innertext
        var itemImage = shopItem.getElementsByClassName('mealImage')[0].src
        var itemPrice = shopItem.getElementsByClassName('price')
        console.log(itemName,)
      }
      </script>
</body>
</html>